* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: round;
    background: linear-gradient(#3F51B5,#8fcae6)
}
a {
    color: #1a053f;
    text-align: center;
}

p {
    color: #0a0000;
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: #020b39;
    margin: 12px;
    padding: 10px;
    text-align: center;
}

.test-2 {
    font-size: 2rem;
    color: #0039d5;
}

.test-3 {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    padding-left: 41rem;
}

.test4 {
    color: cornflowerblue;
    text-align: left;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.test5 {
    color: #54bfdf;
    font-size: xx-large;
    text-align: center;
}

ol {
    font-size: 1.5rem;
    text-align: center;
}

table {
    width: 100%;
    border-radius: 15px;
}

    table th, table td {
        border: 1px solid cornflowerblue;
        padding: 8px;
        border-radius: 20px;
    }

    table th {
        background-color: cornflowerblue;
    }

    table td img {
        width: 100px;
        height: auto;
        cursor: pointer;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(22 110 162);
}

.modal-content {
    background-color: #369af7;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #0a0000;
    width: 50%;
    text-align: center;
    border: 10px solid #1b6ab9;
}

.close {
    color: #1a053f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

label {
    color: #fff;
    font-size: xx-large;
    font-weight: 900;
}

.captcha-container {
    text-align: center;
}

.captcha-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

.captcha {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    margin: 0 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

.captcha-container {
    color: #1924a6;
    font-weight: 900;
    font-size: medium;
}

.container {
    width: 70vw;
    max-width: 600px;
    height: 321px;
    position: absolute;
    transform: translate(-50%,195%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #a5cad1;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgb(37 127 203 / 30%);
}

.cards {
    border: 3px solid #fff;
    align-items: center;
    background-color: #252525;
}

.imges {
    width: 50%;
    display: flex;
    display: block ruby;
    animation: movslider 8s infinite;
}

.add-to-cart-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c5df3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
